@model QLThuCung.Models.Giong

<div class="container p-5 w-100">
    <div class="card my-card m-5 mx-auto">
        <div class="card-header">
            <p class="card-title text-center m-0 p-0"><strong>CHỈNH SỬA THÔNG TIN</strong></p>
        </div>
        <form asp-action="Edit" asp-controller="Giong" asp-area="Admin" enctype="multipart/form-data">
            <div class="card-body p-5">
                <div class="d-flex">
                    <div class="mx-3 d-flex justify-content-center align-items-center">
                        <div>
                            <div>
                                <label asp-for="Ten">Tên giống:</label>
                                <input type="text" asp-for="Ten" class="form-control"></input>
                                <span class="text-danger" asp-validation-for="Ten"></span>
                            </div>
                            <div>
                                <label asp-for="IdLoai">Loài</label>
                                <select id="ComboBoxLoai" asp-for="IdLoai" class="form-control">
                                    <option value="">Chọn loài</option>

                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <input asp-for="IdLoai" id="IdLoaiChon" hidden />
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Cập nhật</button>
                <a href="/admin/giong" class="btn btn-secondary">Quay lại</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/LoadData/LoadCBLoai.js"></script>

    <script>
        function previewImage(event) {
            const input = event.target;
            if (input.files && input.files[0]) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById('preview-avatar').src = e.target.result;
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}
