<div class="container">
    <h3 class="my-3">Quản lý giống</h3>
    <a href="/admin/giong/themmoi" class="btn btn-success mb-3">Thêm giống</a>
    <table id="GiongTable" class="py-3">
        <thead class="bg-dark text-light">
            <tr>
                <th>Tên giống </th>
                <th>Loài</th>
                <th>Chức năng</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/LoadData/LoadTableGiong.js"></script>
}