<div class="container">
    <h3 class="my-3">Quản lý nhân viên</h3>
    <a href="/admin/nhanvien/themmoi" class="btn btn-success mb-3">Thêm nhân viên</a>
    <table id="nhanVienTable" class="py-3">
        <thead class="bg-dark text-light">
            <tr>
                <th>Họ tên</th>
                <th>Email</th>
                <th>SĐT</th>
                <th>Chức năng</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/LoadData/LoadTableNhanVien.js?v=1"></script>
}