<div class="container p-5">
    <div class="card my-card my-5 mx-auto">
        <div class="card-header">
            <p class="card-title text-center m-0 p-0"><strong>THÔNG TIN THÚ CƯNG</strong></p>
        </div>
        <div class="card-body p-5">
            <div class="d-flex">
                <div class="mx-3">
                    <div style="width: 200px; aspect-ratio:1/1; overflow: hidden; border-radius: 50%;">
                        <img class="w-100 h-100" src="/assets/images/dichvu1.jpg"></img>
                    </div>
                </div>
                <div class="mx-3 d-flex align-items-center">
                    <div>
                        <p><strong>Thú cưng: </strong>Kiki</p>
                        <p><strong>Giống: </strong>Chó</p>
                        <p><strong>Loài: </strong>Corgi</p>
                        <p><strong>Tuổi (tháng): </strong>15</p>
                        <p><strong>Đặc điểm nhận dạng: </strong>Lông màu nâu, có sẹo ở cạnh tai trái, chân đi tất</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a href="/khachhang/taikhoan/chinhsua" class="btn btn-primary">Cập nhật</a>
            <a href="/khachhang" class="btn btn-secondary">Quay lại</a>
        </div>
    </div>
</div>