<div class="container">
    <div class="my-5 pt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/khach-hang">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Cửa hàng</li>
            </ol>
        </nav>
    </div>
    <table id="TableThuCung" class="display pt-3">
        <thead class="bg-dark text-light">
            <tr>
                <th>Thú cưng</th>
                <th>Giống</th>
                <th>Loài</th>
                <th>Chức năng</th>
            </tr>
        </thead>
        <tbody>
            <!-- Thêm dữ liệu khác -->
        </tbody>
    </table>
    <input type="hidden" value="@ViewBag.IdNguoiDung" id="IdNguoiDung">
</div>

@section Scripts{
    <script src="~/LoadData/LoadTableThuCungKH.js"></script>
}