<div class="container">
    <div class="my-5 pt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/khach-hang">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Hóa đơn dịch vụ</li>
            </ol>
        </nav>
    </div>
    <table id="myTable" class="display pt-3">
        <thead class="bg-dark text-light">
            <tr>
                <th>Ngày chăm sóc</th>
                <th>Thú cưng</th>
                <th>Tổng tiền</th>
                <th>Trạng thái</th>
                <th>Chức năng</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>20/12/2025</td>
                <td>Kiki</td>
                <td>750000VNĐ</td>
                <td>Chờ xử lý</td>
                <td>
                    <a href="#" class="btn btn-primary">Chi tiết</a>
                    <a href="#" class="btn btn-success">Cập nhật</a>
                    <a href="#" class="btn btn-danger">Xóa</a>
                </td>
            </tr>
            <tr>
                <td>25/12/2025</td>
                <td>Neko</td>
                <td>200000VNĐ</td>
                <td>Đã thanh toán</td>
                <td>
                    <a href="#" class="btn btn-primary">Chi tiết</a>
                    <a href="#" class="btn btn-success">Cập nhật</a>
                    <a href="#" class="btn btn-danger">Xóa</a>
                </td>
            </tr>
            <!-- Thêm dữ liệu khác -->
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
            paging: true,           // Phân trang
            searching: true,        // Ô tìm kiếm
            ordering: true,         // Cho phép sắp xếp
            info: true,             // Hiển thị "Đang hiển thị từ... đến..."
            pageLength: 5,          // Số dòng mỗi trang
            lengthChange: false     // Ẩn/hiện dropdown chọn số dòng
        });
        });
    </script>
}