@model QLThuCung.Areas.Admin.ViewModels.UserCTO

<div class="container p-5 w-100">
    <div class="card my-card m-5 mx-auto">
        <div class="card-header">
            <p class="card-title text-center m-0 p-0"><strong>THÊM MỚI NHÂN VIÊN</strong></p>
        </div>
        <form asp-action="Create" asp-controller="NhanVien" asp-area="Admin" enctype="multipart/form-data">
            <div class="card-body p-5">
                <div class="d-flex">
                    <div class="mx-3">
                        <div style="width: 200px; aspect-ratio:1/1; overflow: hidden; border-radius: 50%;">
                            <img id="preview-avatar" class="w-100 h-100" src="/assets/images/default_avatar.png">
                        </div>
                    </div>
                    <div class="mx-3 d-flex justify-content-center align-items-center">
                        <div>
                            <div>
                                <label asp-for="FullName">Họ và Tên</label>
                                <input asp-for="FullName" type="text" placeholder="Nhập họ và tên" class="form-control"></input>
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>
                            <div>
                                <label asp-for="PhoneNumber" class="mt-3">Số điện thoại</label>
                                <input asp-for="PhoneNumber" type="text" placeholder="Nhập số điện thoại" class="form-control"></input>
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <div>
                                <label asp-for="Email" class="mt-3">Email</label>
                                <input asp-for="Email" type="text" placeholder="Nhập email" class="form-control"></input>
                                <span asp-validation-for="Email" class="text-danger"></span>

                            </div>
                            <div>
                                <label asp-for="Password" class="mt-3">Mật khẩu</label>
                                <input asp-for="Password" type="password" placeholder="Nhập mật khẩu" class="form-control"></input>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div>
                                <label asp-for="ConfirmPassword" class="mt-3">Xác nhận mật khẩu</label>
                                <input asp-for="ConfirmPassword" type="password" placeholder="Nhập lại mật khẩu" class="form-control"></input>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div>
                                <label for="AnhMoi">Ảnh đại diện:</label>
                                <input type="file" name="AnhMoi" accept="image/*" class="form-control" onchange="previewImage(event)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-success">THÊM</button>
                <a href="/admin/nhanvien" class="btn btn-secondary">Quay lại</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        function previewImage(event) {
            const input = event.target;
            if (input.files && input.files[0]) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById('preview-avatar').src = e.target.result;
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}
