<div class="container">
    <div class="mt-5 pt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/khach-hang">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Cửa hàng</li>
            </ol>
        </nav>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <p class="PageTitle m-3">Cửa hàng</p>
        <input type="text" class="form-control" value="Tìm kiếm"></input>
    </div>
    <div class="row">
        <div class="col-3">
            <div>
                <p>Danh mục</p>
                <ul>
                    <li><a href="#">Thức ăn</a></li>
                    <li><a href="#">Vòng cổ</a></li>
                    <li><a href="#">Quần áo</a></li>
                    <li><a href="#">Lồng vận chuyển</a></li>
                </ul>
            </div>

            <div>
                <p>Bộ lọc</p>
                <div>
                    <p>Giá</p>
                    <input type="radio" name="TangDan"></input>
                    <label for="TangDan">Tăng dần</label>
                    <input type="radio" name="GiamDan"></input>
                    <label for="GiamDan">Giảm dần</label>
                </div>
                <div>
                    <p>Lượt bán</p>
                    <input type="radio" name="TangDan"></input>
                    <label for="TangDan">Tăng dần</label>
                    <input type="radio" name="GiamDan"></input>
                    <label for="GiamDan">Giảm dần</label>
                </div>
                <div>
                    <p>Đánh giá</p>
                    <input type="radio" name="TangDan"></input>
                    <label for="TangDan">Tăng dần</label>
                    <input type="radio" name="GiamDan"></input>
                    <label for="GiamDan">Giảm dần</label>
                </div>
            </div>
            
        </div>
        <div class="col-9">
            <div class="my_productlist d-flex flex-wrap">
                <div class="my_productcard shadow">
                    <div class="my_productspecial">Mới</div>
                    <div class="my_productimg">
                        <img src="/assets/images/sanpham1.jpg">
                    </div>
                    <div class="my_productcontent">
                        <p class="my_producttitle">Thức ăn dinh dưỡng KitchenFlavor</p>
                        <p class="my_productprice">90.000 VNĐ</p>
                        <p>3.507 lượt bán</p>
                    </div>
                    <div class="my_productbutton">
                        <a href="#" class="btn btn-warning">Giỏ hàng</a>
                        <a href="#" class="btn btn-success">Mua ngay</a>
                    </div>
                </div>
                <div class="my_productcard shadow">
                    <div class="my_productspecial">Mới</div>
                    <div class="my_productimg">
                        <img src="/assets/images/sanpham1.jpg">
                    </div>
                    <div class="my_productcontent">
                        <p class="my_producttitle">Thức ăn dinh dưỡng KitchenFlavor</p>
                        <p class="my_productprice">90.000 VNĐ</p>
                        <p>3.507 lượt bán</p>
                    </div>
                    <div class="my_productbutton">
                        <a href="#" class="btn btn-warning">Giỏ hàng</a>
                        <a href="#" class="btn btn-success">Mua ngay</a>
                    </div>
                </div>
                <div class="my_productcard shadow">
                    <div class="my_productspecial">Mới</div>
                    <div class="my_productimg">
                        <img src="/assets/images/sanpham1.jpg">
                    </div>
                    <div class="my_productcontent">
                        <p class="my_producttitle">Thức ăn dinh dưỡng KitchenFlavor</p>
                        <p class="my_productprice">90.000 VNĐ</p>
                        <p>3.507 lượt bán</p>
                    </div>
                    <div class="my_productbutton">
                        <a href="#" class="btn btn-warning">Giỏ hàng</a>
                        <a href="#" class="btn btn-success">Mua ngay</a>
                    </div>
                </div>
                <div class="my_productcard shadow">
                    <div class="my_productspecial">Mới</div>
                    <div class="my_productimg">
                        <img src="/assets/images/sanpham1.jpg">
                    </div>
                    <div class="my_productcontent">
                        <p class="my_producttitle">Thức ăn dinh dưỡng KitchenFlavor</p>
                        <p class="my_productprice">90.000 VNĐ</p>
                        <p>3.507 lượt bán</p>
                    </div>
                    <div class="my_productbutton">
                        <a href="#" class="btn btn-warning">Giỏ hàng</a>
                        <a href="#" class="btn btn-success">Mua ngay</a>
                    </div>
                </div>
                <div class="my_productcard shadow">
                    <div class="my_productspecial">Mới</div>
                    <div class="my_productimg">
                        <img src="/assets/images/sanpham1.jpg">
                    </div>
                    <div class="my_productcontent">
                        <p class="my_producttitle">Thức ăn dinh dưỡng KitchenFlavor</p>
                        <p class="my_productprice">90.000 VNĐ</p>
                        <p>3.507 lượt bán</p>
                    </div>
                    <div class="my_productbutton">
                        <a href="#" class="btn btn-warning">Giỏ hàng</a>
                        <a href="#" class="btn btn-success">Mua ngay</a>
                    </div>
                </div>
                <div class="my_productcard shadow">
                    <div class="my_productspecial">Mới</div>
                    <div class="my_productimg">
                        <img src="/assets/images/sanpham1.jpg">
                    </div>
                    <div class="my_productcontent">
                        <p class="my_producttitle">Thức ăn dinh dưỡng KitchenFlavor</p>
                        <p class="my_productprice">90.000 VNĐ</p>
                        <p>3.507 lượt bán</p>
                    </div>
                    <div class="my_productbutton">
                        <a href="#" class="btn btn-warning">Giỏ hàng</a>
                        <a href="#" class="btn btn-success">Mua ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>