<div class="container">
    <div class="mt-5 pt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/khach-hang">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Cửa hàng</li>
            </ol>
        </nav>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <p class="PageTitle m-3">Cửa hàng</p>
        <input type="text" class="form-control" style="width: 300px;" value="Tìm kiếm"></input>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="card">
                <p class="card-header"><strong>Danh mục</strong></p>
                <ul class="list-unstyled p-3">
                    <li><a href="#" class="text-decoration-none text-black"><strong>Thức ăn</strong></a></li>
                    <li><a href="#" class="text-decoration-none text-black"><strong>Vòng cổ</strong></a></li>
                    <li><a href="#" class="text-decoration-none text-black"><strong>Quần áo</strong></a></li>
                    <li><a href="#" class="text-decoration-none text-black"><strong>Lồng vận chuyển</strong></a></li>
                </ul>
            </div>

            <div class="card mt-3">
                <p class="card-header"><strong>Bộ lọc</strong></p>
                <div class="card-body p-3">
                    <div>
                        <p><strong>Giá</strong></p>
                        <input type="radio" name="TangDan"></input>
                        <label for="TangDan">Tăng dần</label><br>
                        <input type="radio" name="GiamDan"></input>
                        <label for="GiamDan">Giảm dần</label>
                    </div>
                    <div class="mt-3">
                        <p><strong>Lượt bán</strong></p>
                        <input type="radio" name="TangDan"></input>
                        <label for="TangDan">Tăng dần</label><br>
                        <input type="radio" name="GiamDan"></input>
                        <label for="GiamDan">Giảm dần</label>
                    </div>
                    <div class="mt-3">
                        <p><strong>Đánh giá</strong></p>
                        <input type="radio" name="TangDan"></input>
                        <label for="TangDan">Tăng dần</label><br>
                        <input type="radio" name="GiamDan"></input>
                        <label for="GiamDan">Giảm dần</label>
                    </div>
                </div>
                </div>     
        </div>
        <div class="col-9">
            <div class="my_productlist d-flex flex-wrap justify-content-end">
                <div class="my_productcard shadow" data-url="/khachhang/sanpham/chitiet">
                    <div class="my_productspecial">Mới</div>
                    <div class="my_productimg">
                        <img src="/assets/images/sanpham1.jpg">
                    </div>
                    <div class="my_productcontent">
                        <p class="my_producttitle">Thức ăn dinh dưỡng KitchenFlavor</p>
                        <p class="my_productprice">90.000 VNĐ</p>
                        <p>3.507 lượt bán</p>
                    </div>
                    <div class="my_productbutton">
                        <a href="#" class="btn btn-warning">Giỏ hàng</a>
                        <a href="#" class="btn btn-success">Mua ngay</a>
                    </div>
                </div>
                <div class="my_productcard shadow">
                    <div class="my_productspecial">Mới</div>
                    <div class="my_productimg">
                        <img src="/assets/images/sanpham1.jpg">
                    </div>
                    <div class="my_productcontent">
                        <p class="my_producttitle">Thức ăn dinh dưỡng KitchenFlavor</p>
                        <p class="my_productprice">90.000 VNĐ</p>
                        <p>3.507 lượt bán</p>
                    </div>
                    <div class="my_productbutton">
                        <a href="#" class="btn btn-warning">Giỏ hàng</a>
                        <a href="#" class="btn btn-success">Mua ngay</a>
                    </div>
                </div>
                <div class="my_productcard shadow">
                    <div class="my_productspecial">Mới</div>
                    <div class="my_productimg">
                        <img src="/assets/images/sanpham1.jpg">
                    </div>
                    <div class="my_productcontent">
                        <p class="my_producttitle">Thức ăn dinh dưỡng KitchenFlavor</p>
                        <p class="my_productprice">90.000 VNĐ</p>
                        <p>3.507 lượt bán</p>
                    </div>
                    <div class="my_productbutton">
                        <a href="#" class="btn btn-warning">Giỏ hàng</a>
                        <a href="#" class="btn btn-success">Mua ngay</a>
                    </div>
                </div>
                <div class="my_productcard shadow">
                    <div class="my_productspecial">Mới</div>
                    <div class="my_productimg">
                        <img src="/assets/images/sanpham1.jpg">
                    </div>
                    <div class="my_productcontent">
                        <p class="my_producttitle">Thức ăn dinh dưỡng KitchenFlavor</p>
                        <p class="my_productprice">90.000 VNĐ</p>
                        <p>3.507 lượt bán</p>
                    </div>
                    <div class="my_productbutton">
                        <a href="#" class="btn btn-warning">Giỏ hàng</a>
                        <a href="#" class="btn btn-success">Mua ngay</a>
                    </div>
                </div>
                <div class="my_productcard shadow">
                    <div class="my_productspecial">Mới</div>
                    <div class="my_productimg">
                        <img src="/assets/images/sanpham1.jpg">
                    </div>
                    <div class="my_productcontent">
                        <p class="my_producttitle">Thức ăn dinh dưỡng KitchenFlavor</p>
                        <p class="my_productprice">90.000 VNĐ</p>
                        <p>3.507 lượt bán</p>
                    </div>
                    <div class="my_productbutton">
                        <a href="#" class="btn btn-warning">Giỏ hàng</a>
                        <a href="#" class="btn btn-success">Mua ngay</a>
                    </div>
                </div>
                <div class="my_productcard shadow">
                    <div class="my_productspecial">Mới</div>
                    <div class="my_productimg">
                        <img src="/assets/images/sanpham1.jpg">
                    </div>
                    <div class="my_productcontent">
                        <p class="my_producttitle">Thức ăn dinh dưỡng KitchenFlavor</p>
                        <p class="my_productprice">90.000 VNĐ</p>
                        <p>3.507 lượt bán</p>
                    </div>
                    <div class="my_productbutton">
                        <a href="#" class="btn btn-warning">Giỏ hàng</a>
                        <a href="#" class="btn btn-success">Mua ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>