@model QLThuCung.Models.NguoiDung

<div class="container p-5 w-100">
    <div class="card my-card m-5 mx-auto">
        <div class="card-header">
            <p class="card-title text-center m-0 p-0"><strong>CHỈNH SỬA THÔNG TIN</strong></p>
        </div>
        <form asp-action="Edit" asp-controller="Account" asp-area="Customer" enctype="multipart/form-data">
            <div class="card-body p-5">
                <div class="d-flex">
                    <div class="mx-3">
                        <div style="width: 200px; aspect-ratio:1/1; overflow: hidden; border-radius: 50%;">
                            <img id="preview-avatar" class="w-100 h-100" src="@(
                                string.IsNullOrWhiteSpace(Model.AnhDaiDien)
                                    ? "/assets/images/default_avatar.png"
                                    : Model.AnhDaiDien
                            )">
                        </div>
                    </div>
                    <div class="mx-3 d-flex justify-content-center align-items-center">
                        <div>
                            <div>
                                <label asp-for="HoTen">Họ tên:</label>
                                <input type="text" asp-for="HoTen" class="form-control"></input>
                                <span class="text-danger" asp-validation-for="HoTen"></span>
                            </div>
                            <div>
                                <label asp-for="PhoneNumber">Số điện thoại:</label>
                                <input type="text" asp-for="PhoneNumber" class="form-control"></input>
                                <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                            </div>
                            <div>
                                <label asp-for="Email">Email:</label>
                                <input type="text" asp-for="Email" class="form-control"></input>
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>
                            <div>
                                <label asp-for="DiaChi">Địa chỉ:</label>
                                <input type="text" asp-for="DiaChi" class="form-control"></input>
                                <span class="text-danger" asp-validation-for="DiaChi"></span>
                            </div>
                            <div>
                                <label for="AnhMoi">Ảnh đại diện:</label>
                                <input type="file" name="AnhMoi" accept="image/*" class="form-control" onchange="previewImage(event)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Cập nhật</button>
                <a href="/khachhang/taikhoan/" class="btn btn-secondary">Quay lại</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        function previewImage(event) {
            const input = event.target;
            if (input.files && input.files[0]) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById('preview-avatar').src = e.target.result;
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}
