<div class="container p-5">
    <div class="card m-5">
        <div class="card-header">
            <p class="card-title text-center m-0 p-0"><strong>THÔNG TIN CÁ NHÂN</strong></p>
        </div>
        <div class="card-body p-5">
            <div class="row">
                <div class="col-3">
                    <div style="width: 200px; aspect-ratio:1/1; overflow: hidden; border-radius: 50%;">
                        <img class="w-100 h-100" src="/assets/images/nhanvien1.jpg"></img>
                    </div>
                </div>
                <div class="col-9 d-flex align-items-center">
                    <div>
                        <p><strong>Họ và tên: </strong>Nguyễn Nhật Khánh</p>
                        <p><strong>Số điện thoại: </strong>0898866467</p>
                        <p><strong>Email: </strong>nguyennhatkhanh151203@gmail.com</p>
                        <p><strong>Địa chỉ: </strong>136 Trần Cao Vân</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary">Cập nhật</a>
            <a href="#" class="btn btn-secondary">Quay lại</a>
        </div>
    </div>
</div>