<div class="container mb-5">
    <div class="my_sectionheader">
        <h2 class="my_sectiontitle">Về chúng tôi</h2>
    </div>
    <div class="my_sectionbody">
        <div class="my_employeelist owl-carousel my_carousel3">
            <div class="my_employeecard shadow">
                <div class="my_employeecardheader">
                    <div class="my_employeeimg">
                        <img src="/assets/images/nhanvien1.jpg">
                    </div>
                </div>
                <div class="my_employeetitle">
                    <p>
                        Nguyễn Nhật Khánh<br>
                        <span>Kỹ thuật viên</span>
                    </p>
                </div>
            </div>
            <div class="my_employeecard shadow">
                <div class="my_employeecardheader">
                    <div class="my_employeeimg">
                        <img src="/assets/images/nhanvien1.jpg">
                    </div>
                </div>
                <div class="my_employeetitle">
                    <p>
                        Nguyễn Nhật Khánh<br>
                        <span>Kỹ thuật viên</span>
                    </p>
                </div>
            </div>
            <div class="my_employeecard shadow">
                <div class="my_employeecardheader">
                    <div class="my_employeeimg">
                        <img src="/assets/images/nhanvien1.jpg">
                    </div>
                </div>
                <div class="my_employeetitle">
                    <p>
                        Nguyễn Nhật Khánh<br>
                        <span>Kỹ thuật viên</span>
                    </p>
                </div>
            </div>
            <div class="my_employeecard shadow">
                <div class="my_employeecardheader">
                    <div class="my_employeeimg">
                        <img src="/assets/images/nhanvien1.jpg">
                    </div>
                </div>
                <div class="my_employeetitle">
                    <p>
                        Nguyễn Nhật Khánh<br>
                        <span>Kỹ thuật viên</span>
                    </p>
                </div>
            </div>
            <div class="my_employeecard shadow">
                <div class="my_employeecardheader">
                    <div class="my_employeeimg">
                        <img src="/assets/images/nhanvien1.jpg">
                    </div>
                </div>
                <div class="my_employeetitle">
                    <p>
                        Nguyễn Nhật Khánh<br>
                        <span>Kỹ thuật viên</span>
                    </p>
                </div>
            </div>
            <div class="my_employeecard shadow">
                <div class="my_employeecardheader">
                    <div class="my_employeeimg">
                        <img src="/assets/images/nhanvien1.jpg">
                    </div>
                </div>
                <div class="my_employeetitle">
                    <p>
                        Nguyễn Nhật Khánh<br>
                        <span>Kỹ thuật viên</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>