<div class="container mb-5">
    <div class="my_sectionheader">
        <h2 class="my_sectiontitle">Liên hệ</h2>
    </div>
    <div class="my_sectionbody">
        <div class="my_contact">
            <div class="my_contactframe">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.7795476777096!2d108.21102737460019!3d16.076925639232964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31421847f125d0a9%3A0x936779884318eeca!2zNDggQ2FvIFRo4bqvbmcsIFRoYW5oIELDrG5oLCBI4bqjaSBDaMOidSwgxJDDoCBO4bq1bmcgNTUwMDAwLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1744812046507!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <form class="my_contactform card shadow p-5">
                <label for="HoTen"><strong>Họ và tên</strong></label>
                <input type="text" class="form-control mb-2" name="HoTen" placeholder="Nhập họ và tên">
                <label for="Email"><strong>Email</strong></label>
                <input type="text" class="form-control mb-2" name="Email" placeholder="Nhập email">
                <label for="SDT"><strong>Số điện thoại</strong></label>
                <input type="text" class="form-control mb-2" name="SDT" placeholder="Nhập số điện thoại">
                <label for="NoiDung"><strong>Nội dung</strong></label>
                <textarea class="form-control mb-3" name="NoiDung" placeholder="Nhập nội dung"></textarea>
                <button type="submit" class="btn btn-primary mt-2 w-100">Gửi</button>
            </form>
        </div>
    </div>
</div>
