<div class="container">
    <div class="mt-5 pt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/khach-hang">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Giỏ hàng</li>
            </ol>
        </nav>
    </div>
    <div class="d-flex">
        <svg xmlns="http://www.w3.org/2000/svg" class="PageTitle-SVG" viewBox="0 0 576 512">
            <path d="M0 24C0 10.7 10.7 0 24 0L69.5 0c22 0 41.5 12.8 50.6 32l411 0c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3l-288.5 0 5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5L488 336c13.3 0 24 10.7 24 24s-10.7 24-24 24l-288.3 0c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5L24 48C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" />
        </svg>
        <div class="PageTitle m-3">Giỏ hàng</div>
    </div>
    <div class="list-cartitem p-5" id="list-cart">
        
    </div>
    <div>
        <div class="card cart-summary shadow my-5">
            <div class="card-header">
                Thanh toán giỏ hàng
            </div>
            <div class="d-flex align-items-center justify-content-around py-3">
                <div>
                    <p class="card-title">Số sản phẩm đã chọn: </p>
                    <p class="special-text" id="soLuongSanPhamChon">0</p>
                </div>
                <div>
                    <p class="card-title">Tổng tiền: </p>
                    <p class="special-text" id="tongTienSanPhamChon">0 VNĐ</p>
                </div>
                <div>
                    <button id="muaNgayGioHang" class="btn btn-success">Mua ngay</button>
                </div>
            </div>
            
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/LoadData/LoadCartItem.js"></script>
}