<div class="container">
    <div class="mt-5 pt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/khach-hang">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Giỏ hàng</li>
            </ol>
        </nav>
    </div>
    <div class="d-flex">
        <svg xmlns="http://www.w3.org/2000/svg" class="PageTitle-SVG" viewBox="0 0 576 512">
            <path d="M0 24C0 10.7 10.7 0 24 0L69.5 0c22 0 41.5 12.8 50.6 32l411 0c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3l-288.5 0 5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5L488 336c13.3 0 24 10.7 24 24s-10.7 24-24 24l-288.3 0c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5L24 48C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" />
        </svg>
        <div class="PageTitle m-3">Giỏ hàng</div>
    </div>
    <div class="list-cartitem p-5" id="list-cart">
        <div class="card cart-item mt-3">
            <div class="d-flex align-content-center justify-content-around">
                <div class="cart-checkbox">
                    <input type="checkbox"></input>
                </div>
                <div class="d-flex cart-content">
                    <div class="cart-itemimg">
                        <img src="/assets/images/sanpham1.jpg" class="w-100"></img>
                    </div>
                    <div class="cart-itemcontent">
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="card-title"><strong>Hạt dinh dưỡng ZoiDog</strong></p>
                        </div>
                        <p><strong>Danh mục: </strong>Thức ăn</p>
                        <p class="price">25000VNĐ</p>
                    </div>
                    <div class="quantity-selector">
                        <button type="button" class="btn btn-outline-secondary" onclick="decreaseQuantity()">-</button>
                        <input type="number" id="quantity" value="1" min="1" max="2370965" style="width: 60px; padding:5px; text-align: center;" />
                        <button type="button" class="btn btn-outline-secondary" onclick="increaseQuantity()">+</button>
                    </div>
                </div>
                <div class="cart-btn">
                    <button class="btn btn-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="white" width="20px" viewBox="0 0 384 512">
                            <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
                        </svg>
                    </button>
                </div>
                
            </div>
        </div>
        
    </div>
    <div>
        <div class="card cart-summary shadow my-5">
            <div class="card-header">
                Thanh toán giỏ hàng
            </div>
            <div class="d-flex align-items-center justify-content-around py-3">
                <div>
                    <p class="card-title">Số sản phẩm đã chọn: </p>
                    <p class="special-text">3</p>
                </div>
                <div>
                    <p class="card-title">Tổng tiền: </p>
                    <p class="special-text">600.000 VNĐ</p>
                </div>
                <div>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
            
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/LoadData/LoadCartItem.js"></script>
}