<div class="container">
    <div class="mx-5 pt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/khach-hang">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Giỏ hàng</li>
            </ol>
        </nav>
    </div>
    <div class="list-cartitem p-5">
        <div class="card cart-item mt-3">
            <div class="row">
                <div class="col-3">
                    <img src="/assets/images/sanpham1.jpg" class="w-100"></img>
                </div>
                <div class="col-9">
                    <div class="d-flex justify-content-between align-items-center pe-5">
                        <p class="card-title"><strong>Hạt dinh dưỡng ZoiDog</strong></p>
                        <input type="checkbox" ></input>
                    </div>
                    <p><strong>Danh mục: </strong>Thức ăn</p>
                    <p class="price">25000VNĐ</p>
                    <div class="d-flex justify-content-end pe-5 mt-5">
                        <div class="quantity-selector">
                            <button type="button" class="btn btn-outline-secondary" onclick="decreaseQuantity()">-</button>
                            <input type="number" id="quantity" value="1" min="1" max="2370965" style="width: 60px; padding:5px; text-align: center;" />
                            <button type="button" class="btn btn-outline-secondary" onclick="increaseQuantity()">+</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card cart-item mt-3">
            <div class="row">
                <div class="col-3">
                    <img src="/assets/images/sanpham1.jpg" class="w-100"></img>
                </div>
                <div class="col-9">
                    <div class="d-flex justify-content-between align-items-center pe-5">
                        <p class="card-title"><strong>Hạt dinh dưỡng ZoiDog</strong></p>
                        <input type="checkbox"></input>
                    </div>
                    <p><strong>Danh mục: </strong>Thức ăn</p>
                    <p class="price">25000VNĐ</p>
                    <div class="d-flex justify-content-end pe-5 mt-5">
                        <div class="quantity-selector">
                            <button type="button" class="btn btn-outline-secondary" onclick="decreaseQuantity()">-</button>
                            <input type="number" id="quantity" value="1" min="1" max="2370965" style="width: 60px; padding:5px; text-align: center;" />
                            <button type="button" class="btn btn-outline-secondary" onclick="increaseQuantity()">+</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card cart-item mt-3">
            <div class="row">
                <div class="col-3">
                    <img src="/assets/images/sanpham1.jpg" class="w-100"></img>
                </div>
                <div class="col-9">
                    <div class="d-flex justify-content-between align-items-center pe-5">
                        <p class="card-title"><strong>Hạt dinh dưỡng ZoiDog</strong></p>
                        <input type="checkbox"></input>
                    </div>
                    <p><strong>Danh mục: </strong>Thức ăn</p>
                    <p class="price">25000VNĐ</p>
                    <div class="d-flex justify-content-end pe-5 mt-5">
                        <div class="quantity-selector">
                            <button type="button" class="btn btn-outline-secondary" onclick="decreaseQuantity()">-</button>
                            <input type="number" id="quantity" value="1" min="1" max="2370965" style="width: 60px; padding:5px; text-align: center;" />
                            <button type="button" class="btn btn-outline-secondary" onclick="increaseQuantity()">+</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card cart-item mt-3">
            <div class="row">
                <div class="col-3">
                    <img src="/assets/images/sanpham1.jpg" class="w-100"></img>
                </div>
                <div class="col-9">
                    <div class="d-flex justify-content-between align-items-center pe-5">
                        <p class="card-title"><strong>Hạt dinh dưỡng ZoiDog</strong></p>
                        <input type="checkbox"></input>
                    </div>
                    <p><strong>Danh mục: </strong>Thức ăn</p>
                    <p class="price">25000VNĐ</p>
                    <div class="d-flex justify-content-end pe-5 mt-5">
                        <div class="quantity-selector">
                            <button type="button" class="btn btn-outline-secondary" onclick="decreaseQuantity()">-</button>
                            <input type="number" id="quantity" value="1" min="1" max="2370965" style="width: 60px; padding:5px; text-align: center;" />
                            <button type="button" class="btn btn-outline-secondary" onclick="increaseQuantity()">+</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card cart-item mt-3">
            <div class="row">
                <div class="col-3">
                    <img src="/assets/images/sanpham1.jpg" class="w-100"></img>
                </div>
                <div class="col-9">
                    <div class="d-flex justify-content-between align-items-center pe-5">
                        <p class="card-title"><strong>Hạt dinh dưỡng ZoiDog</strong></p>
                        <input type="checkbox"></input>
                    </div>
                    <p><strong>Danh mục: </strong>Thức ăn</p>
                    <p class="price">25000VNĐ</p>
                    <div class="d-flex justify-content-end pe-5 mt-5">
                        <div class="quantity-selector">
                            <button type="button" class="btn btn-outline-secondary" onclick="decreaseQuantity()">-</button>
                            <input type="number" id="quantity" value="1" min="1" max="2370965" style="width: 60px; padding:5px; text-align: center;" />
                            <button type="button" class="btn btn-outline-secondary" onclick="increaseQuantity()">+</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <button class="btn btn-primary">Mua ngay</button>
    </div>
</div>