  <!-- CAROUSEL -->
<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner my_slider">
        <div class="carousel-item active">
            <img src="./assets/images/carousel1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="./assets/images/carousel2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="./assets/images/carousel3.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!--END_CAROUSEL -->
<!-- SHOP -->
<div class="container mb-5">
    <div class="my_sectionheader">
        <h2 class="my_sectiontitle">Cửa hàng</h2>
    </div>
    <div class="my_sectionbody">
        <div class="my_productlist owl-carousel my_carousel1">
            
        </div>
    </div>
</div>
<!-- END_SHOP -->
<!-- SERVICE -->
<div class="container mb-5">
    <div class="my_sectionheader">
        <h2 class="my_sectiontitle">Dịch vụ</h2>
    </div>
    <div class="my_sectionbody">
        <div class="my_servicelist owl-carousel my_carousel2">
            <div class="my_servicecard">
                <div class="my_serviceimg">
                    <img src="./assets/images/dichvu1.jpg">
                </div>
                <div class="my_servicecontent">
                    <p class="my_servicetitle">Vệ sinh tai</p>
                </div>
            </div>
            <div class="my_servicecard">
                <div class="my_serviceimg">
                    <img src="./assets/images/dichvu1.jpg">
                </div>
                <div class="my_servicecontent">
                    <p class="my_servicetitle">Vệ sinh tai</p>
                </div>
            </div>
            <div class="my_servicecard">
                <div class="my_serviceimg">
                    <img src="./assets/images/dichvu1.jpg">
                </div>
                <div class="my_servicecontent">
                    <p class="my_servicetitle">Vệ sinh tai</p>
                </div>
            </div>
            <div class="my_servicecard">
                <div class="my_serviceimg">
                    <img src="./assets/images/dichvu1.jpg">
                </div>
                <div class="my_servicecontent">
                    <p class="my_servicetitle">Vệ sinh tai</p>
                </div>
            </div>
            <div class="my_servicecard">
                <div class="my_serviceimg">
                    <img src="./assets/images/dichvu1.jpg">
                </div>
                <div class="my_servicecontent">
                    <p class="my_servicetitle">Vệ sinh tai</p>
                </div>
            </div>
            <div class="my_servicecard">
                <div class="my_serviceimg">
                    <img src="./assets/images/dichvu1.jpg">
                </div>
                <div class="my_servicecontent">
                    <p class="my_servicetitle">Vệ sinh tai</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END_SERVICE -->
<!-- ABOUTUS -->
<div class="container mb-5">
    <div class="my_sectionheader">
        <h2 class="my_sectiontitle">Về chúng tôi</h2>
    </div>
    <div class="my_sectionbody">
        <div class="my_employeelist owl-carousel my_carousel3">
            <div class="my_employeecard shadow">
                <div class="my_employeecardheader">
                    <div class="my_employeeimg">
                        <img src="./assets/images/nhanvien1.jpg">
                    </div>
                </div>
                <div class="my_employeetitle">
                    <p>
                        Nguyễn Nhật Khánh<br>
                        <span>Kỹ thuật viên</span>
                    </p>
                </div>
            </div>
            <div class="my_employeecard shadow">
                <div class="my_employeecardheader">
                    <div class="my_employeeimg">
                        <img src="./assets/images/nhanvien1.jpg">
                    </div>
                </div>
                <div class="my_employeetitle">
                    <p>
                        Nguyễn Nhật Khánh<br>
                        <span>Kỹ thuật viên</span>
                    </p>
                </div>
            </div>
            <div class="my_employeecard shadow">
                <div class="my_employeecardheader">
                    <div class="my_employeeimg">
                        <img src="./assets/images/nhanvien1.jpg">
                    </div>
                </div>
                <div class="my_employeetitle">
                    <p>
                        Nguyễn Nhật Khánh<br>
                        <span>Kỹ thuật viên</span>
                    </p>
                </div>
            </div>
            <div class="my_employeecard shadow">
                <div class="my_employeecardheader">
                    <div class="my_employeeimg">
                        <img src="./assets/images/nhanvien1.jpg">
                    </div>
                </div>
                <div class="my_employeetitle">
                    <p>
                        Nguyễn Nhật Khánh<br>
                        <span>Kỹ thuật viên</span>
                    </p>
                </div>
            </div>
            <div class="my_employeecard shadow">
                <div class="my_employeecardheader">
                    <div class="my_employeeimg">
                        <img src="./assets/images/nhanvien1.jpg">
                    </div>
                </div>
                <div class="my_employeetitle">
                    <p>
                        Nguyễn Nhật Khánh<br>
                        <span>Kỹ thuật viên</span>
                    </p>
                </div>
            </div>
            <div class="my_employeecard shadow">
                <div class="my_employeecardheader">
                    <div class="my_employeeimg">
                        <img src="./assets/images/nhanvien1.jpg">
                    </div>
                </div>
                <div class="my_employeetitle">
                    <p>
                        Nguyễn Nhật Khánh<br>
                        <span>Kỹ thuật viên</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END_ABOUTUS -->
<!-- CONTACT -->
<div class="container mb-5" >
    <div class="my_sectionheader">
        <h2 class="my_sectiontitle">Liên hệ</h2>
    </div>
    <div class="my_sectionbody">
        <div class="my_contact">
            <div class="my_contactframe">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.7795476777096!2d108.21102737460019!3d16.076925639232964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31421847f125d0a9%3A0x936779884318eeca!2zNDggQ2FvIFRo4bqvbmcsIFRoYW5oIELDrG5oLCBI4bqjaSBDaMOidSwgxJDDoCBO4bq1bmcgNTUwMDAwLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1744812046507!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <form class="my_contactform card shadow p-5">
                <label for="HoTen"><strong>Họ và tên</strong></label>
                <input type="text" class="form-control mb-2" name="HoTen" placeholder="Nhập họ và tên">
                <label for="Email"><strong>Email</strong></label>
                <input type="text" class="form-control mb-2" name="Email" placeholder="Nhập email">
                <label for="SDT"><strong>Số điện thoại</strong></label>
                <input type="text" class="form-control mb-2" name="SDT" placeholder="Nhập số điện thoại">
                <label for="NoiDung"><strong>Nội dung</strong></label>
                <textarea class="form-control mb-3" name="NoiDung" placeholder="Nhập nội dung"></textarea>
                <button type="submit" class="btn btn-primary mt-2 w-100">Gửi</button>
            </form>
        </div>
    </div>
</div>
<!-- END_CONTACT -->

@section Scripts{
    <script src="~/LoadData/LoadTheSanPhamCarousel.js"></script>
}